<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="iMIS">
      <section name="Soa" type="Asi.Soa.Core.Configuration.SoaConfiguration, Asi.Soa.Core.Contracts" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="CareersContext" providerName="System.Data.SqlClient" connectionString="Data Source=BMI-DEVIMISV20;Initial Catalog=CareersContext;User ID=sa;Password=1qaz!QAZ;MultipleActiveResultSets=True;" />
    <!--<add name="CareersContext" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=Careers;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>

  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.Net">
        <listeners>
          <add name="System.Net" />
        </listeners>
      </source>
      <source name="System.Net.HttpListener">
        <listeners>
          <add name="System.Net" />
        </listeners>
      </source>
      <source name="System.Net.Sockets">
        <listeners>
          <add name="System.Net" />
        </listeners>
      </source>
      <source name="System.Net.Cache">
        <listeners>
          <add name="System.Net" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="System.Net" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\deleteme\System.Net.trace.log" traceOutputOptions="ProcessId, DateTime" />
    </sharedListeners>
    <switches>
      <add name="System.Net" value="Verbose" />
      <add name="System.Net.Sockets" value="Verbose" />
      <add name="System.Net.Cache" value="Verbose" />
      <add name="System.Net.HttpListener" value="Verbose" />
    </switches>
  </system.diagnostics>
  <appSettings>
    <!--Begin BMI Values-->
    <add key="SendCareersNotifications" value="true" />
    <add key="DevelopmentMode" value="true" />
    <add key="DaysAfterWhichListingsExpire" value="60" />
    <add key="SOAURI" value ="net.tcp://localhost/iMIS_MB_iMIS20/NetTcp"/>
    <!--End BMI Values-->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <iMIS>

    <Soa>
      <contractAssemblies>
        <contractAssembly assembly="Asi.Soa.Core.Contracts" />
        <contractAssembly assembly="Asi.Soa.Membership.Contracts" />
        <contractAssembly assembly="Asi.Soa.Commerce.Contracts" />
        <contractAssembly assembly="Asi.Soa.Events.Contracts" />
        <contractAssembly assembly="Asi.Soa.Fundraising.Contracts" />
      </contractAssemblies>
      <entityTypeProviders>
        <entityTypeProvider type="Asi.Soa.Membership.Persistence.V10.RegisterMembershipEntityTypes, Asi.Soa.Membership.Persistence.V10" />
        <entityTypeProvider type="Asi.Soa.Commerce.Persistence.V10.RegisterCommerceEntityTypes, Asi.Soa.Commerce.Persistence.V10" />
        <entityTypeProvider type="Asi.Soa.Events.Persistence.V10.RegisterEventsEntityTypes, Asi.Soa.Events.Persistence.V10" />
        <entityTypeProvider type="Asi.Soa.Fundraising.Persistence.V10.RegisterFundraisingEntityTypes, Asi.Soa.Fundraising.Persistence.V10" />
        <!-- Generally the Core.Persistence provider should be listed last, so that other applications can intercept 
              and supply service for deferred entity defitition, as Core.Persistance may find a natching table, view or business object
              and block other users applications if first.-->
        <entityTypeProvider type="Asi.Soa.Core.Persistence.V10.RegisterCoreEntityTypes, Asi.Soa.Core.Persistence.V10" />
      </entityTypeProviders>
      <settings>
        <setting key="EntityManagerDefaultBaseUri" value="net.tcp://localhost/iMIS_MB_iMIS20/NetTcp" />
        <setting key="EntityManagerDefaultEndpointType" value="NetTcp" />
        <setting key="Melissa.AddressLicenseString" value="2m-23m-8w9" />
        <setting key="Melissa.FilesLocation" value="C:\Program Files\Melissa DATA\COM Objects\Data Files" />
        <setting key="Melissa.NameLicenseString" value="28-112-505" />
        <setting key="Melissa.PhoneLicenseString" value="9w-09l-8H4" />
        <setting key="DefaultCountryCode" value="US" />
        <setting key="DefaultPaymentMethodId" value="CASH" />
        <setting key="ImportFilesLocation" value="" />
        <setting key="ImportUserName" value="" />
        <setting key="ImportUserPassword" value="" />
      </settings>
    </Soa>
  </iMIS>
  <system.web>
    
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>